@mixin fill-parent {
  position: absolute;

  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

body {
  margin: 2%;
  text-align: center;

  .wrapper {
    background-color: #EEE;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 20%;

    .inner {
      @include fill-parent;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 2.4em;
      overflow: hidden;
      vertical-align: middle;
    }

    &:after {
      content: '';
      display: block;
      padding-top: 25%;
    }
  }

  .square.wrapper {
    background-color: white;
    z-index: -2;

    .hint {
      color: #DDD;
      @include fill-parent;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.2em;
      z-index: -1;
    }

    &:after {
      padding-top: 100%;
    }
  }

  .ocr-result-container div {
    display: inline-block;
  }

  .inner.controls {
    line-height: 1.8em;

    .reset, .skip {
      cursor: pointer;
      float: left;
      user-select: none;
      width: 50%;
    }

    .reset {
      background-color: #FCC;
    }

    .skip {
      background-color: #CEF;
    }
  }

  .buffer {
    display: none;
    height: 256px;
    width: 256px;
  }
}

@media only screen and (max-device-width: 480px) {
  body {
    margin: 4% 0%;

    .wrapper {
      width: 100%;
    }
  }
}
