@mixin fill-parent {
  position: absolute;

  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

body {
  margin: 2%;
  text-align: center;

  .wrapper {
    background-color: #CEF;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 20%;

    .inner {
      @include fill-parent;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 2.4em;
      overflow: hidden;
      vertical-align: middle;
    }

    &:after {
      content: '';
      display: block;
      padding-top: 25%;
    }
  }

  .square.wrapper {
    background-color: #FCC;

    &:after {
      padding-top: 100%;
    }
  }

  .ocr-result-container div {
    display: inline-block;
  }

  .buffer {
    display: none;
    height: 256px;
    width: 256px;
  }
}

@media only screen and (max-device-width: 480px) {
  body {
    margin: 4% 0%;

    .wrapper {
      width: 100%;
    }
  }
}
